#container { width: 424px; height: 424px; margin: auto; } /* should not be in this css file, this is for example */

#chessboard-container {
    width: 424px;
    height: 424px;
    border: 1px solid black;
    position: relative;
    padding: 0;
}

#chessboard-container .chessboard-cell {
    float: left;
    width: 51px;
    height: 51px;
    max-width: 53px;
    max-height: 53px;
    margin: 0;
    padding: 0;
}

#chessboard-container .chessboard-cell.odd {
    background-color: #b58863;
    border: 1px solid #b58863;
}
#chessboard-container .chessboard-cell.even {
    background-color: #f0d9b5;
    border: 1px solid #f0d9b5;
}

#chessboard-container .chessboard-cell img {
    width: 51px;
    height: 51px;
    margin: 0 !important;
    padding: 0 !important;
}

#chessboard-container .chessboard-cell.highlight img {
    border: 1px solid lightblue;
    margin: -1px;
    box-shadow: 0px 0px 10px lightblue;
    z-index: 1000;
}

#chessboard-container .chessboard-cell.highlight {
    z-index: 100;
}
